.header__logo {
    margin-top: 3.3vh;
    margin-left: 5.5vw;

    font-family: 'Roboto Slab';
    font-style:  normal;
    font-weight: 700;
    font-size: 1.25rem;
    color: #ffffff;
    text-decoration: none; 
}

@media (max-width: 896px) {
    .header__logo {
        margin-top: 2.2vh;
    }
}

@media (max-width: 460px) {
    .header__logo {
        font-size: 1rem;
        margin-top: 3.5vh;
    }
}