.about-author__user-pic {
    border-radius: 50%;
    margin-left: 5.5vw;

    width: 24.2vw;
    height: 100%;
}

@media (max-width: 896px) {
    .about-author__user-pic {
        width: 30.2vw;
    }
}

@media (max-width: 460px) {
    .about-author__user-pic {
        width: 85vw;
        height: unset;
        margin-left: 4vh;
    }
}