.about-author__paragraph {
    margin-top: 2.5vh;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 1.13rem;
    line-height: 1.5rem;
    color: #1A1B22;
}

@media (max-width: 896px) {
    .about-author__paragraph {
        margin-top: 1.2vh;
    }
}

@media (max-width: 460px) {
    .about-author__paragraph {
        margin-top: 0.1vh;
    }
}
