.header__menu_active {
    color: #ffffff;
    font-family: 'Roboto';
    font-style:  normal;
    font-weight: 500;
    font-size: 1.13rem;
    text-decoration: none;
}

.header__menu_active::after {
    position: absolute;
    display: block;
    content: "";
    top: 4.7vh;
    width: calc(100% - 1.65vw);
    height: 3px;
    background-color: #ffffff; 
}

@media (max-width: 896px) {
    .header__menu_active::after {
        top: 3.7vh;
        width: calc(100% - 4.43vw);
    }
}

@media (max-width: 460px) {
    .header__menu_active {
        font-size: 1rem;
    }

    .header__menu_active::after {
        top: 6vh;
        width: calc(100% - 3.43vw);
    }
}