.search__button {
    position: absolute;
    bottom: 8.6vh;
    right: 0px;

    width: 27.5%;
    height: 64px;
    border: none;
    border-radius: 32px;
    background-color: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.13rem;
    color: #FFFFFF;
}

.search__button:hover {
    background-color: #347EFF;
    cursor: pointer;
}

.search__button:focus {
    background-color: #2A65CC;
}

@media (max-width: 896px) {
    .search__button {
        height: 56px;
        bottom: 4.8vh;
        width: 34.5%;
        border-radius: 28px;
    }
}

@media (max-width: 460px) {
    .search__button {
        position: relative;
        width: 100%;
        border-radius: 28px;
        
        margin-top: 3vh;
        margin-bottom: 1vh;
    }
}