.result__source {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #B6BCBF;

    letter-spacing: 0.03rem;
    text-transform: uppercase;

    margin-left: 1.3vw;
    position: absolute;
    bottom: 2.5vh;
}

@media (max-width: 896px) {
    .result__source {
        margin-left: 2vw;
        bottom: 1.5vh;
    }
}

@media (max-width: 460px) {
    .result__source {
        margin-left: 5vw;
        bottom: 3.5vh;
    }
}