.footer__bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 3vh;
    margin-bottom: 3vh;
}

@media (max-width: 896px) {
    .footer__bar {
        padding-top: 0;
    }
}