.result__analytics-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.13rem;
    color: #1A1B22;
    text-decoration: none;

    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 5.8vw;
}

.result__analytics-link::after {
    content: "";
    background-image: url('../../../favicon/black-arrow.svg');
    background-repeat: no-repeat;
    
    display: block;
    width: 8px;
    height: 14px;
    margin-left: 0.5em;
}

.result__analytics-link:hover {
    opacity: 0.9;
}

@media (max-width: 460px) {
    .result__analytics-link {
        margin-left: 4.4vw;
        margin-top: 3vh;
    }
}