.table__title {
    display: inline-block;
    margin-left: 5.4vw;
    margin-top: 8.6vh;
}

@media (max-width: 896px) {
    .table__title {
        margin-top: 3.9vh;
    }
}

@media (max-width: 460px) {
    .table__title {
        margin-top: 4.9vh;
    }
}