@import url('./_active/header__menu_active.css');

.header__menu {
    margin-top: 3.5vh;
    margin-bottom: 2.8vh;
    margin-right: 5.3vw;
    display: flex;
    flex-wrap: wrap;
}

.header__menu li {
    position: relative;
    padding-left: 1.7vw;
}

.header__menu a {
    font-family: 'Roboto';
    font-style:  normal;
    font-weight: 500;
    font-size: 1.13rem;
    color: #B6BCBF;
    text-decoration: none;
}

.header__menu a:hover {
    color: #ffffff;
    text-decoration: none; 
}

@media (max-width: 896px) {
    .header__menu {
        margin-top: 2.3vh;
        margin-right: 5.5vw;
        margin-bottom: 1.9vh;
    }

    .header__menu li {
        padding-left: 4.43vw;
    }
}

@media (max-width: 460px) {
    .header__menu {
        margin-top: 3.3vh;
        margin-right: 4.5vw;
        margin-bottom: 3vh;
    }

    .header__menu a {
        font-size: 1rem;
    }

    .header__menu li {
        padding-left: 3.43vw;
    }
}