.analytics__content{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 4.4vh;
}

@media (max-width: 896px) {
    .analytics__content {
        margin-top: 3.3vh;
    }
}

@media (max-width: 460px) {
    .analytics__content {
        margin-top: 0;
    }
}