.analytics__question {
    line-height: 2.88rem;

    margin-left: 5.4vw;
    margin-top: 9vh;
    margin-bottom: 2.3vh;
}

@media (max-width: 896px) {
    .analytics__question {
        margin-top: 5.9vh;
        margin-bottom: 1.8vh;
    }
}

@media (max-width: 460px) {
    .analytics__question {
        line-height: 2.2rem;
        
        margin-top: 2.9vh;
        margin-bottom: 2.7vh;
    }
}