.footer__social {
    margin-right: 5.5vw;
}

.footer__social a {
    text-decoration: none;
}

.footer__social li {
    display: inline;
}

@media (max-width: 896px) {
    .footer__social {
        margin-right: 3.5vw;
    }
}

@media (max-width: 460px) {
    .footer__social {
        margin-right: 5.5vw;
    }
}